<%- include('header') -%>

<div class="wrapper">
    <div class="title-text">
      <div class="title login">Enter your email</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="/email-submit" class="login" method="post">
          <h4  class="message text-success"><%= msg %></h4>
          <div class="field">
            <input type="text" placeholder="Email Address" name="email" required>
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login">
          </div>
        </form>  
      </div>
    </div>
  </div>

  <%-include('footer')-%>