<%- include('header') -%>

  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Owner Login Form</div>


    </div>
    <div class="form-container">

      <div class="form-inner">

        <form action="/owner/ownerlogin" class="login" method="post">
          <h5 class="text-danger">
            <%= msg %>
          </h5>
          <div class="field">
            <input type="text" placeholder="Email Address" name="email" required>
          </div>
          <div class="field">
            <input type="password" placeholder="Password" name="password" required minlength="6">
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>

          <div class="field btn">
            <div class="btn-layer">
            </div>
            <input type="submit" value="Login">
          </div>
        </form>

      </div>
    </div>
  </div>

  <%-include('footer')-%>