<%- include('header') -%>

<div class="wrapper">
    <div class="title-text">
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
     
      <div class="form-inner">
         <form  autocomplete="off" action="/signup-submit" onsubmit="return validateForm( )" class="signup" method="post">
      <h4 id="msg" class="message text-success"><%= msg %></h4>

          <div class="field">
            <input type="text" placeholder="First Name" name="first_name" required>
          </div>
          <div class="field">
            <input type="text" placeholder="Last Name" name="last_name" required>
          </div>
          <div class="field">
            <div id="emailError" style="color: red;"></div>

            <input type="email" id="email" placeholder="Email Address" name="email" oninput="validateEmail()" required>
          </div>
          <div class="field">
            <div  id="mobileError" style="color: red;"></div>

            <input type="text" id="mobile" placeholder="Mobile Number" name="mobile" oninput="validateMobile()" required minlength="10" maxlength="10">
          </div>
          <div class="field">
            <input type="password" placeholder="Password" name="password" required minlength="6">
          </div>
          <div class="field">
            <input type="password" placeholder="Confirm password" name="confirm" required>
          </div>
          <div class="field">
            <input type="text" placeholder="Enter your referal code" name="referal" minlength="6" >
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
<script>
   document.addEventListener('DOMContentLoaded',function(){
      setTimeout(()=>{
          let msg = document.getElementById('msg')
          msg.textContent = ''
      },3000)
      console.log(msg,"msg")
    })
</script>
  <%-include('footer')-%>